@font-face {
	font-family: 'Plumb';
	src: url('../fonts/plumb-bold.eot');
	src: local('☺'), url('../fonts/plumb-bold.woff') format('woff'), url('../fonts/plumb-bold.ttf') format('truetype'), url('../fonts/plumb-bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Plumb';
	src: url('../fonts/plumb-medium.eot');
	src: local('☺'), url('../fonts/plumb-medium.woff') format('woff'), url('../fonts/plumb-medium.ttf') format('truetype'), url('../fonts/plumb-medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Plumb';
	src: url('../fonts/plumb-regular.eot');
	src: local('☺'), url('../fonts/plumb-regular.woff') format('woff'), url('../fonts/plumb-regular.ttf') format('truetype'), url('../fonts/plumb-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
    width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Plumb', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3 {
    margin: 0;
}

.list--reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.btn--reset {
    padding: 0; 
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.header {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-bottom: 1px solid #FFFFFF;
}


.header__container {
    max-width: 1560px;
    margin: 0 auto;
    display: flex;
}

.header__logo {
    padding: 33px 0;
}

.header__navigation {
    padding: 35px 0 33px;
    flex-grow: 1;
}

.header__list {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header__li:not(:last-child) {
    padding-right: 47px;
}

.link {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}

.bar-block {
    display: flex;
    padding: 32px 0 40px;
}

.bar-block__search-icon-link {
    background-image: url("../images/search.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 18px;
    margin-right: 70px;
}

.globus-icon {
    display:inline-block;
    background-image: url("../images/globe.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 21px;
    height: 20px;
    margin-right: 11px;
}

.bar-block__btn-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.intro {
    width: 100%;
    background-image: url("../images/bgc.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

.intro__container {
    max-width: 1114px;
    margin: 0 auto;
    padding: 300px 0 53px;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 1100px) {
    .intro__container {
        flex-direction: column;
    }
}

.intro__name-block {
    height: 224px;
    padding-right: 152px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro__h1 {
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 64px;
    line-height: 102px;
}

.intro__p {
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 34px;
    color: #FFFFFF;
    margin: 0;
    text-align: left;
}

.intro-link-arrow {
    display: block;
    position: relative;
    font-weight: 400;
    font-style: normal;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}

.intro-link-arrow::after {
    content: "";
    background-image: url("../images/arrow1.png");
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    width: 16px;
    height: 7px;
    left: 100px;
    top: 7px;
}

.intro-link-arrow--fs16 {
    font-size: 16px;
}

.intro-link-arrow--fs14 {
    font-size: 14px;
}

.intro-link-arrow--fs14::after {
    left: 80px;
}

.intro__info-block {
    display: grid;
    grid-template-columns: minmax(max-content, 1fr) minmax(max-content, 1fr);
    grid-template-rows: 0.8fr 1fr;
    gap: 30px;
    margin-top: 120px;
}

.card-block__item {
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
}

.card-block__item--bgc-blue {
    background-color: #2378FC;
}

.card-block__item--bgc-green {
    background-color: #30BCC9;
}

.card-block__item--bgc-yellow {
    background-color: #FFC41E;
}

.card-block__item--bgc-red {
    background-color: #F6404F;
}

.card-title {
    font-size: 21px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    max-width: 165px;
}

.card-block__title {
    margin-bottom: 15px;
}

.more-for-visitor {
    width: 100%;
    background-color: #2378FC;
}

.more-for-visitor__container {
    max-width: 1114px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 75px 0;
}

.block-title {
    font-weight: 500;
    font-size: 30px;
    line-height: 39px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.more-for-visitor__title {
    margin-bottom: 30px;
}

.info-links__list li {
    margin-bottom: 15px;
}

.link--hover:hover {
    color: #FFC41E;
    border-bottom: 1px solid #FFC41E;
}

.poster-block {
    background-color: #FFC41E;
    padding-bottom: 79px;
}

.container {
    max-width: 1114px;
    margin: 0 auto;
}

.poster-block__title-row {
    display: flex;
    justify-content: space-between;
}

.poster-block__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 39px;
    letter-spacing: -0.01em;
    color: #2E373B;
    padding: 75px 0 55px;
}

.poster-block__title-link-arrow {
    font-weight: 500;
    font-size: 21px;
    line-height: 27px;
    letter-spacing: -0.01em;
    color: #2E373B;
    background-image: url("../images/arrow2.png");
    background-position: 185px 8px;
    background-repeat: no-repeat;
    background-size: auto;
    margin-top: 84px;
    padding-right: 50px;
}

.poster-block__posters {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: space-between;
}

.poster__txt {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #2E373B;
    max-width: 326px;
}

.poster__link {
    font-weight: 500;
    font-size: 21px;
    line-height: 27px;
    text-decoration: none;
    color: #F6404F;
}

.poster1-bcg {
    background-image: url("../images/poster1.png");
    background-repeat: no-repeat;
    width: 350px;
    height: 240px;
}

.poster2-bcg {
    background-image: url("../images/poster2.png");
    background-repeat: no-repeat;
    width: 350px;
    height: 240px;
}

.poster3-bcg {
    background-image: url("../images/poster3.png");
    background-repeat: no-repeat;
    width: 350px;
    height: 240px;
}

.poster4-bcg {
    background-image: url("../images/poster4.png");
    background-repeat: no-repeat;
    width: 350px;
    height: 240px;
}

.poster5-bcg {
    background-image: url("../images/poster5.png");
    background-repeat: no-repeat;
    width: 350px;
    height: 240px;
}

.poster6-bcg {
    background-image: url("../images/poster6.png");
    background-repeat: no-repeat;
    width: 350px;
    height: 240px;
}

.news-events__container {
    max-width: 1114px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.news-events {
    background-color: #FAF3E3;
}

.news-events__events {
    max-width: 445px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 75px 0 85px;
}

.event1 {
    background-image: url("../images/event1.jpg");
    background-repeat: no-repeat;
    width: 445px;
    height: 215px;
    margin-bottom: 59px;
}
.event2 {
    background-image: url("../images/event2.jpg");
    background-repeat: no-repeat;
    width: 445px;
    height: 215px;
}

.news-events__news {
    max-width: 541px;
}

.new-events__title-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.news-events__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 39px;
    letter-spacing: -0.01em;
    color: #2E373B;
    padding: 75px 0 30px;
}

.news-events__title-link-arrow {
    font-weight: 500;
    font-size: 21px;
    line-height: 27px;
    letter-spacing: -0.01em;
    color: #2E373B;
    background-image: url("../images/arrow2.png");
    background-position: 130px 8px;
    background-repeat: no-repeat;
    background-size: auto;
    margin-top: 81px;
    padding-right: 50px;
}

.news-event__news-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-event__list-item {
    display: flex;
}

.align-wrap {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.img--size {
    width: 160px;
    height: 120px;
    margin-bottom: 30px;
}

.date {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #F6404F;
}

.description {
    font-weight: 500;
    font-size: 21px;
    line-height: 27px;
    letter-spacing: -0.01em;
    color: #2E373B;
    margin-top: 10px;
}

.footer {
    background-color: #30BCC9;
}
.footer-container {
    max-width: 1114px;
    margin: 0 auto;
    padding: 20px 0 70px;
}

.footer__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.more-for-visitor__item {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.footer__social-links{
    display: flex;
    justify-content: space-between;
    max-width: 220px;
    margin: 10px 0 20px;
}

.more-for-visitors__apple {
    margin-bottom: 16px;
}

.m-width {
    max-width: 255px;
    margin: 0;
}

.footer__email {
    width: 255px;
    height: 40px;
    display: flex;
}

.email {
    color: #9C9C9C;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    border: none;
    width: 215px;
    height: 40px;
    padding-left: 20px;
    margin-top: 25px;
    position: relative;
}

.send-email { 
    background-color: #F6404F;
    width: 40px;
    height: 40px;
    margin-top: 25px;
}

.send-icon {
    margin-top: 7px;
}


.fsz--21 {
    font-size: 21px;
    line-height: 27px;
}

.mb--20 {
    margin-bottom: 20px;
}

.fsz--14--color {
    font-size: 14px;
    line-height: 19px;
    color: #E0E0E0;
}